* {
    box-sizing: border-box;
}

:root {
    --blue: rgb(42, 177, 255);
    --red: rgb(255, 79, 79);
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 27em;
    width: 58em;
    /* background-color: darkcyan; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.powerButtons {
    height: 1em;
    width: 4em;
    /* background-color: red; */
    margin-left: -30em;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.powerButtons>div {
    height: 0.3em;
    width: 1.2em;
    background-color: black;
}

.power1:hover {
    cursor: pointer;
}

.power2:hover {
    cursor: pointer;
}

.nintendoSwitch {
    height: 22em;
    width: 52.4em;
    /* background-color: silver; */
    display: flex;
}

.controler {
    height: 22em;
    width: 7em;
}

.controlerLeft {
    border-radius: 5em 0.3em 0 5em;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    justify-content: space-around;
    box-shadow: -0.313em -0.375em 2.875em -0.75em rgba(0, 0, 0, 1) inset;
}

.controlerRight {
    border-radius: 0.3em 5em 5em 0;
    background-color: var(--red);
    box-shadow: -0.313em -0.375em 2.875em -0.75em rgba(0, 0, 0, 1) inset;
}

.bacScreen {
    height: 22em;
    background: #2e2c2b;
    flex: 1;
    display: flex;
    justify-content: space-between;
    /* background: linear-gradient(); */
    box-shadow: 0em 0.625em 0.5em rgb(182, 182, 182) inset;
}

.cuartCircle {
    width: 0.6em;
    height: 0.8em;
    background: white;
}

.circleLeft {
    border-radius: 0 0 1em 0;
}

.blackScreen {
    height: 20em;
    width: 36em;
    background-color: black;
    margin-top: 0.9em;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    height: 18.6em;
    width: 34.5em;
    /* background-color: red; */
    /* background: url(../img/marioWallpaper.jpeg) white no-repeat;
    background-size: 34.5em;
    background-position-y: -0.8em; */
    background: linear-gradient(100deg, rgb(10, 10, 10) 2%, rgb(54, 54, 54) 50%, rgb(10, 10, 10));
}

.circleRight {
    border-radius: 0 0 0 1em;
}

.topBlue {
    height: 2em;
    width: 2em;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.topRed {
    height: 2.8em;
    width: 2em;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cross {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 0.8em;
}

.topCross,
.leftCross,
.rightCross,
.bottomCross,
.middleCross {
    background-color: rgb(83, 83, 83);
    height: 0.4em;
    width: 0.4em;
    box-shadow: 0.05em 0.05em 0.1em,
        inset 0.1em -0.1em 0.9em;
}

.topCross:hover,
.leftCross:hover,
.rightCross:hover,
.bottomCross:hover {
    cursor: pointer;
}

.middleBlue {
    height: 12em;
    width: 7em;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.middleRed {
    height: 12em;
    width: 7em;
    /* background-color: peru; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bottomBlue {
    height: 6em;
    width: 7em;
    /* background-color: salmon; */
    display: flex;
    justify-content: flex-end;
}

.bottomRed {
    height: 6em;
    width: 7em;
    /* background-color: salmon; */
    display: flex;
    justify-content: flex-start;
}

.bottomBlue>div {
    height: 1em;
    width: 1em;
    background-color: rgb(43, 43, 43);
    box-shadow: 0.05em 0.05em 0.1em,
        inset 0.1em -0.1em 0.3em;
    margin-right: 1.4em;
    border-radius: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomBlue>div {
    height: 1em;
    width: 1em;
    background-color: rgb(43, 43, 43);
    box-shadow: 0.05em 0.05em 0.1em,
        inset 0.1em -0.1em 0.3em;
    margin-right: 1.4em;
    border-radius: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomBlue>div>.smallCircle {
    height: 0.7em;
    width: 0.7em;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0.1em 0.1em 0.1em,
        outset 0.01em 0.01em 0.1em rgb(128, 128, 128);
    margin-left: 0.05em;
}

.bottomBlue>div>.smallCircle:hover {
    cursor: pointer;
}

.bottomRed>div {
    height: 1.6em;
    width: 1.6em;
    background-color: rgb(171, 171, 171);
    box-shadow: 0.05em 0.05em 0.1em,
        inset 0.1em 0.1em 0.3em;
    margin-left: 1.4em;
    border-radius: 50%;
    border: 0.1em solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.7em;
}

.bottomRed>div>div {
    height: 1.1em;
    width: 1.1em;
    background-color: rgb(59, 59, 59);
    box-shadow: 0.05em 0.05em 0.1em,
        inset 0 0 0.3em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottomRed>div>div:hover{
    cursor: pointer;
}

.homeIco {
    font-size: 0.6em;
}

.topButtonLeft {
    height: 0.4em;
    width: 1.2em;
    background-color: rgb(43, 43, 43);
    box-shadow: 0.05em 0.05em 0.1em,
        inset 0.1em -0.1em 0.3em;
    margin-right: 0.8em;
}

.topButtonLeft:hover {
    cursor: pointer;
}

.topButtonRight {
    height: 0.4em;
    width: 1.2em;
    background-color: rgb(43, 43, 43);
    border-radius: 1em;
    box-shadow: 0.05em 0.05em 0.1em,
        inset 0.1em -0.1em 0.3em;
}

.joystickLeft {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1em 0.1em 0.1em,
        inset 0.1em 0.1em 0.5em;
    margin-bottom: 1em;
}

.joystickRight {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1em 0.1em 0.1em,
        inset 0.1em 0.1em 0.5em;
    margin-bottom: 0.8em;
}

.centroJoystick {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: 0.1em solid black;
    box-shadow: 0.05em 0.05em 0.1em,
        inset 0.05em 0.05em 0.5em;
}

.centroJoystick:hover {
    cursor: pointer;
}

.arrows {
    height: 4.5em;
    width: 4.5em;
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* ¿¿Esta linea la dejo?? Solo con las columnas funciona */
    margin-right: 0.8em;
    margin-top: 0.2em;
}

.letters {
    height: 4.5em;
    width: 4.5em;
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* ¿¿Esta linea la dejo?? Solo con las columnas funciona */
    margin-top: 0.3em;
    margin-right: 1em;
}

.arrows div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8em;
    width: 1.8em;
    background-color: rgb(56, 56, 56);
    border: 0.1em;
    border-radius: 50%;
}

.letters div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.3em;
    width: 1.3em;
    background-color: rgb(56, 56, 56);
    border: 0.1em;
    border-radius: 50%;
    color: rgb(210, 199, 199);
    height: 1.8em;
    width: 1.8em;
}

.letter {
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
}

.topArrowBlue {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    box-shadow: 0.1em 0.1em 0.1em,
        inset 0.1em 0.1em 0.3em;
}

.topArrowBlue:hover {
    cursor: pointer;
}

.rightArrowBlue {
    transform: rotate(90deg);
    padding-bottom: 0.3em;
    padding-left: 0.1em;
    box-shadow: 0.1em -0.1em 0.1em,
        inset 0.1em -0.1em 0.3em;
}

.rightArrowBlue:hover {
    cursor: pointer;
}

.bottomArrowBlue {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    transform: rotate(180deg);
    padding-bottom: 0.2em;
    padding-right: 0.03em;
    box-shadow: -0.1em -0.1em 0.1em,
        inset -0.1em -0.1em 0.3em;
}

.bottomArrowBlue:hover {
    cursor: pointer;
}

.leftArrowBlue {
    transform: rotate(-90deg);
    padding-bottom: 0.1em;
    padding-right: 0.1em;
    box-shadow: -0.1em 0.1em 0.1em,
        inset -0.1em 0.1em 0.3em;
}

.leftArrowBlue:hover {
    cursor: pointer;
}

.topLetter {
    box-shadow: 0.1em 0.1em 0.1em black,
        inset 0.1em 0.1em 0.3em black;
}

.topLetter:hover {
    cursor: pointer;
}

.rightLetter {
    box-shadow: 0.1em 0.1em 0.1em black,
        inset 0.1em 0.1em 0.3em black;
}

.rightLetter:hover {
    cursor: pointer;
}

.bottomLetter {
    box-shadow: 0.1em 0.1em 0.1em black,
        inset 0.1em 0.1em 0.3em black;
}

.bottomLetter:hover {
    cursor: pointer;
}

.leftLetter {
    box-shadow: 0.1em 0.1em 0.1em black,
        inset 0.1em 0.1em 0.3em black;
}

.leftLetter:hover {
    cursor: pointer;
}

.arrows .empty,
.letters .empty {
    /* border: none; */
    background: none;
}